<template name="billsList">
  <table id="bills-table">
    <thead>
      <tr>
        <th><i id="deleteBill" class="fa fa-euro"></i></th>
        <th>Date</th>
        <th>Libellé</th>
        <th>Fournisseur / Client</th>
        <th>Date de paiement</th>
        <th>Moyen de paiement</th>
        <th class="text-right">Montant</th>
        <th><i id="deleteBill" class="fa fa-copy"></i></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each bills}}
        {{> billItem}}
      {{/each}}
    </tbody>
  </table>
  
</template>